    @{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProjetGo</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <main role="main" class="col-sm-12">




        <h1>Bienvenue sur le site de ProjetGo</h1>
                <!-- Carousel
    ================================================== -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:30px; width:auto;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" style="max-height:150px;">

                            <img src="~/Content/Images/ramasser-roche.jpg" alt="First slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>@Html.ActionLink("Nos Projets", "Index", "Projets")</h1>

                                </div>
                            </div>
                        </div>
                        <div class="item" style="max-height:150px;">
                            <img src="~/Content/Images/vente-garage.jpg" alt="Second slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>@Html.ActionLink("Nos Projets", "Index", "Projets")</h1>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="max-height:150px;">
                            <img src="~/Content/Images/soupe-sans-abris.jpg" alt="Third slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>@Html.ActionLink("Nos Projets", "Index", "Projets")</h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.carousel -->
           
       

        
                <div id="left-col" class="col-sm-6">

                    <iframe width="500" height="315" src="https://www.youtube.com/embed/099_WKUBh6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>



                <div id="right-col" class="col-sm-6" style="width:auto; ">

                    <marquee direction="down" class="newsFeed">


                        <h3 style="">Quoi de Neuf ?</h3>
                        <br /> <br />
                        <p><b>Projet en cours : Liste des projets actif</b></p>
                        <br /><br />
                        <p><b>Nous acceptons de nouveau les demandes de projets</b></p>
                        <br /><br />
                        <p><b>Reprise des activités de projetGo suite à la pandémie</b></p>
                        <br /><br />
                        <p><b>Arrêt temporaire des activités de projetGo due à la pandémie</b></p>
                        <br /><br />
                    </marquee>
                    </div>
        
    </main>

</body>
</html>