@model ProjetGoEquipe2.Membre

@{
    ViewBag.Title = "Profil";
}

    <br />
    <h2>Page de @Session["Usager"]</h2>
    <hr />
    <br />

    <div class="row">

        @{
            Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "PL" });
        }
        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">
                <dl class="dl-horizontal">


                    <dt>
                        Nom :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom)
                    </dd>

                    <dt>
                        Prenom :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prenom)
                    </dd>

                    <dt>
                        Mot de Passe :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.motPasse)
                    </dd>
                    <dt>
                        Email :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        Telephone :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.numeroTel)
                    </dd>

                    <dt>
                        Adresse :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.adresse)
                    </dd>

                    <dt>
                        Date d'adhesion :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.dateAdhesion)
                    </dd>

                    <dt>
                        Inscrit a la mailing liste :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.inscritMailingList)
                    </dd>

                    <dt>
                        Statut :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.statut)
                    </dd>

                    <dt>
                        Prochaine cotisation :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.dateProchaineCotisation)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "EditMembre", new { id = Model.nomUsager }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
