@model ProjetGoEquipe2.Membre

@{
    ViewBag.Title = "Profil";
}

<br />
<h2>Page de @Session["Usager"]</h2>
<hr />
<br />


<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">

        @{
            Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "PL" });
        }
        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <h3 class="center titre">
                    Mon Profil
                </h3>

                <dl class="dl-horizontal">


                    <br />
                    <div style="text-align:center;">
                        @Html.ActionLink("Modifier mes informations", "EditMembre", new { id = Model.nomUsager })
                    </div>


                    <br />

                    <dt>
                        Nom d'Usager
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nomUsager)
                    </dd>

                    <br />

                    <dt>
                        Email
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <br />

                    <dt>
                        Mot de Passe
                    </dt>

                    @{
                        string mdp = "";
                        for (int i = 0; i < Model.motPasse.Length; i++)
                        {
                            mdp += "*";
                        }

                        <dd>@mdp</dd>
                    }

                    <br />

                    <dt>
                        Nom
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom)
                    </dd>
                    <br />

                    <dt>
                        Prenom
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.prenom)
                    </dd>

                    <br />

                    <dt>
                        Telephone
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.numeroTel)
                    </dd>

                    <br />


                    <dt>
                        Adresse
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.adresse)
                    </dd>

                    <br />

                    <dt>
                        Date d'adhesion
                    </dt>

                    <dd>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.dateAdhesion))
                    </dd>

                    <br />

                    <dt>
                        Inscrit a la mailing liste
                    </dt>

                    @{
                        if (Model.inscritMailingList == null || Model.inscritMailingList == false)
                        {
                            <dd>Non</dd>

                        }
                        else
                        {
                            <dd>Oui</dd>
                        }
                    }

                    <br />


                    <dt>
                        Statut
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.statut)
                    </dd>
                    <br />


                    <dt>
                        Prochaine cotisation
                    </dt>

                    <dd>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.dateProchaineCotisation))
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</main>



