@model ProjetGoEquipe2.Projet

@{
    ViewBag.Title = "Ajouter";
}



<h2>Page de @Session["Usager"]</h2>

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">

        <div class="col-sm-3">

            <div class="content-section" id="right-left">
                <h4>Mes Sections</h4>

                <div class="btn-group-vertical" role="group">
                    <button onclick="@("window.location.href='" + @Url.Action("MesProjets", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left;">Mes Projets</button>
                    <button onclick="@("window.location.href='" + @Url.Action("Ajouter", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Ajouter un Projet</button>
                    <button type="button" onclick="@("window.location.href='" + @Url.Action("Index", "CompteRendus") + "'");" class="btn btn-default" style="text-align:left">Mes Compte-Rendus</button>
                    <button type="button" onclick="@("window.location.href='" + @Url.Action("Ajouter", "CompteRendus") + "'");" class="btn btn-default" style="text-align:left">Ajouter un Comptes-Rendu</button>
                    <button type="button" onclick="@("window.location.href='" + @Url.Action("Cotisation", "Membres") + "'");" class="btn btn-default" style="text-align:left">Payer ma Cotisation</button>
                    <button type="button" onclick="@("window.location.href='" + @Url.Action("Profil", "Membres") + "'");" class="btn btn-default" style="text-align:left">Mon Profil</button>
                </div>
            </div>



        </div>

        <div class="col-sm-9">
            <div class="content-section main-section-top">

                <div class="content-section" id="sectionPrincipaleMembre">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <h3 style="text-align:center;">Ajouter un Projet</h3>
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="control-label col-md-3">Titre</div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.titre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.titre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3">Statut</div>
                                <div class="col-md-9">
                                    <select class="form-control" name="statut">
                                        <option value="Propose">Proposé</option>
                                        <option value="Soumis">Soumis</option>
                                        <option value="Approuve">Approuvé</option>
                                        <option value="Actif">Actif</option>
                                        <option value="Termine">Terminé</option>
                                        <option value="Gele">Gelé</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3">Courte Description:</div>
                                <div class="col-md-9">
                                    <textarea placeholder="Courte description du projet ici." class="form-control col-md-9" rows="5" name="description"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3">Sommaire:</div>
                                <div class="col-md-9">
                                    <textarea placeholder="Décrivez le but, les objectifs, bénéfices escomptés et les risques du projet." class="form-control col-md-9" rows="5" name="sommaire"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3">Début Estimé</div>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" name="debutEstime" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3">Fin Estimée</div>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" name="finEstimee" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3">Budget ($ seulement)</div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="budget" />
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-3">Fréquence Compte-Rendus (semaines)</div>
                                <div class="col-md-9">
                                    <select class="form-control" name="frequence">
                                        <option value="1">aucun</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4" selected>4</option>
                                        <option value="6">6</option>
                                        <option value="8">8</option>
                                        <option value="10">10</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Ajouter" class="btn btn-default" style="background-color:rgb(184, 210, 49)"/>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                </div>
            </div>
        </div>
    </main>
