@model ProjetGoEquipe2.Projet

@{
    ViewBag.Title = "DetailsPublic";
}

<br />
<h2>Nos Projets</h2>

<br />
<hr />

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">

        <div class="col-sm-3">

            <div class="content-section" id="right-left">

                <div class="btn-group-vertical" role="group">
                    @{
                        if (Model.statut == "Actif")
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("Index") + "'");" type="button" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Projets Actifs</button>
                        }
                        else
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("Index") + "'");" type="button" class="btn btn-default" style="text-align:left; ">Projets Actifs</button>
                        }
                    }
                    @{
                        if (Model.statut == "Approuve")
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("AVenir", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Projets À Venir</button>
                        }
                        else
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("AVenir", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; ">Projets À Venir</button>
                        }
                    }

                    @{
                        if (Session["Connected"] != null && (bool)Session["Connected"] == true)
                        {
                            if (Model.statut == "Propose" || Model.statut == "Soumis")
                            {
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Proposes", "Projets") + "'");" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Projets Proposés</button>
                            }
                            else
                            {
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Proposes", "Projets") + "'");" class="btn btn-default" style="text-align:left">Projets Proposés</button>
                            }

                        }
                    }

                    @{
                        if (Model.statut == "Termine")
                        {
                             <button onclick="@("window.location.href='" + @Url.Action("Completes", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Projets Complétés</button>
                        }
                        else
                        {
                             <button onclick="@("window.location.href='" + @Url.Action("Completes", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; ">Projets Complétés</button>
                        }
                    }

                </div>
            </div>



        </div>

        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <br /><br />

                          <div class="content-section" id="sectionPrincipaleMembre">
                              <h4 class="titre">Détails de "@Html.DisplayFor(model => model.titre)"</h4>


                              @{
                                  CompteRendu compteRendu = Singleton.Instance.db.CompteRendus.Where(cr => cr.Projet.idProjet == Model.idProjet).OrderByDescending(cr => cr.dateCompteRendu).FirstOrDefault();
                                  if (compteRendu != null)
                                  {
                                      <br />
                                      <div style="text-align:center;">
                                          @Html.ActionLink("Voir le plus récent compte-rendu de ce projet", "DetailsPublic", "CompteRendus", new { id = compteRendu.idCompteRendu }, null)
                                      </div>

                                      <br />
                                      <div style="text-align:center;">
                                          @Html.ActionLink("Voir la liste de tous les compte-rendus de ce projet", "Public", "CompteRendus", new { id = compteRendu.Projet.idProjet }, null)
                                      </div>
                                  }
                              }

                              <hr />

                              <dl class="dl-horizontal">

                                  @{
                                      if (Session["Connected"] != null && (bool)Session["Connected"] == true)
                                      {

                                          <dt>
                                              Statut
                                          </dt>

                                          if (Model.statut == null)
                                          {
                                              <dd> ---</dd>
                                          }
                                          else
                                          {
                                              <dd>
                                                  @Html.DisplayFor(model => model.statut)
                                              </dd>
                                          }
                                          <br />

                                          <dt>
                                              Visibilité
                                          </dt>

                                          if (Model.visibilite == null || Model.visibilite == "Public")
                                          {

                                              <dd>Public</dd>
                                          }
                                          else if (Model.visibilite == "Membres")
                                          {
                                              <dd>Membres</dd>
                                          }
                                          else
                                          {
                                              <dd>Privé</dd>
                                          }


                                          <br />

                                          <dt>
                                              État d'avancement
                                          </dt>

                                          if (Model.etatAvancement == null)
                                          {
                                              <dd> ---</dd>
                                          }
                                          else
                                          {
                                              <dd> @Html.DisplayFor(model => model.etatAvancement)</dd>
                                          }

                                          <br />

                                      }

                                  }


                                  <dt>
                                      Membre responsable
                                  </dt>

                                  <dd> @Html.DisplayFor(model => model.Membre.prenom)  @Html.DisplayFor(model => model.Membre.nom)</dd>


                                  <br />

                                  <dt>
                                      Description
                                  </dt>

                                  @if (Model.descriptionCourte == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Html.DisplayFor(model => model.descriptionCourte)
                                      </dd>
                                  }
                                  <br />

                                  <dt>
                                      Sommaire
                                  </dt>
                                  @if (Model.sommaire == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Html.DisplayFor(model => model.sommaire)
                                      </dd>
                                  }
                                  <br />

                                  <dt>
                                      Début estimé
                                  </dt>

                                  @if (Model.debutEstime == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.debutEstime))
                                      </dd>
                                  }
                                  <br />

                                  <dt>
                                      Fin estimée
                                  </dt>

                                  @if (Model.finEstimee == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.finEstimee))
                                      </dd>
                                  }
                                  <br />

                                  <dt>
                                      Début réel
                                  </dt>

                                  @if (Model.debutReel == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.debutReel))
                                      </dd>
                                  }
                                  <br />


                                  <dt>
                                      Fin réelle
                                  </dt>

                                  @if (Model.finReelle == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.finReelle))
                                      </dd>
                                  }
                                  <br />

                                  <dt>
                                      Budget
                                  </dt>
                                  @if (Model.budget == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {

                                      <dd>
                                          @Html.DisplayFor(model => model.budget)$
                                      </dd>
                                  }
                                  <br />


                                  <dt>
                                      Fonds collectés
                                  </dt>

                                  @if (Model.totalFondsCollectes == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Html.DisplayFor(model => model.totalFondsCollectes)$
                                      </dd>
                                  }
                                  <br />

                                  <dt>
                                      Total dépenses
                                  </dt>

                                  @if (Model.totalDepenes == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Html.DisplayFor(model => model.totalDepenes)$
                                      </dd>
                                  }
                                  <br />


                                  <dt>
                                      Fréquence des comptes-rendus
                                  </dt>

                                  @if (Model.frequenceComptesRendus == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          À chaque @Html.DisplayFor(model => model.frequenceComptesRendus) semaines
                                      </dd>
                                  }
                                  <br />


                                  <dt>
                                      Date limite du prochain compte-rendu
                                  </dt>

                                  @if (Model.dateProchainCompteRendu == null)
                                  {
                                      <dd> ---</dd>
                                  }
                                  else
                                  {
                                      <dd>
                                          @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.dateProchainCompteRendu))
                                      </dd>
                                  }


                              </dl>
                          </div>
                </div>
            </div>
        </div>
</main>
