@model ProjetGoEquipe2.Projet

@{
    ViewBag.Title = "Effacer";
}

<h2>Page de @Session["Usager"]</h2>

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">

        <div class="col-sm-3">

            <div class="content-section" id="right-left">

                <h4>Mes Sections</h4>

                <div class="btn-group-vertical" role="group">
                    <button type="button" class="btn btn-success" style="text-align:left">Mes Projets</button>
                    <button onclick="@("window.location.href='" + @Url.Action("Ajouter", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left">Ajouter Projet</button>
                    <button type="button" class="btn btn-default" style="text-align:left">Mes Comptes-Rendus</button>
                    <button type="button" class="btn btn-default" style="text-align:left">Payer ma Cotisation</button>
                    <button type="button" class="btn btn-default" style="text-align:left">Mon Profil</button>
                </div>
            </div>



        </div>

        <div class="col-sm-9">
            <div class="content-section main-section-top">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <h3 style="text-align:center;">Supprimer "@Html.DisplayFor(model => model.titre)"</h3>

                    <div style="text-align:center;">
                        @Html.ActionLink("Revenir à mes projets", "MesProjets")
                    </div>

                    <dl class="dl-horizontal">

                        <div>
                            <br /><br /><br />

                            <h4>Êtes-vous vraiment certain de vouloir supprimer ce projet ?</h4>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <br />
                                <div class="form-actions no-color" style="text-align:center;">
                                    <input type="submit" value="Effacer" class="btn btn-danger" />
                                    <button onclick="@("window.location.href='" + @Url.Action("MesProjets", "Projets") + "'");" type="button" class="btn btn-default">Annuler</button>

                                </div>
                            }
                        </div>
                </div>
            </div>
</main>

