@model ProjetGoEquipe2.Projet

@{
    ViewBag.Title = "Effacer";
}

<br />
<h2>Page de @Session["Usager"]</h2>
<br /><hr />

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">
        @{

            Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "PP" });
        }

        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <h4 class="titre">Supprimer "@Html.DisplayFor(model => model.titre)"</h4>

                    <div style="text-align:center;">
                        @Html.ActionLink("Revenir à mes projets", "MesProjets")
                    </div>

                    <dl class="dl-horizontal">

                        <div>
                            <br /><br /><br />

                            <h4>Êtes-vous vraiment certain de vouloir supprimer ce projet ?</h4>

                            <br />
                            <h5>Cela effacera également tous les compte-rendus et toutes les levées de fonds associées à ce projet.</h5>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <br />
                                <div class="form-actions no-color" style="text-align:center;">
                                    <input type="submit" value="Effacer" class="btn btn-default" style="background-color:rgb(184, 210, 49)"/>
                                    <button onclick="@("window.location.href='" + @Url.Action("MesProjets", "Projets") + "'");" type="button" class="btn btn-default">Annuler</button>

                                </div>
                            }
                        </div>
                </div>
            </div>
</main>

