@model IEnumerable<ProjetGoEquipe2.Projet>

@{
    ViewBag.Title = "MesProjets";
}

<br />
<h2>Page de @Session["Usager"]</h2>
<hr />
<br />



<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">
        @{

            Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "PP" });
        }
        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <h3 class="center titre">
                        Mes Projets
                    </h3>

                    <br />

                    @{
                        if (ViewBag.Completes!= null && ViewBag.Completes == true)
                        {
                            <div style="text-align:center;">
                                @{
                                    string mot = Session["Completes"] == null || (bool)Session["Completes"] == false ? "Inclure" : "Exclure";
                                    TempData["Action"] = "MesProjets";
                                    TempData["Controller"] = "Projets";
                                    @Html.ActionLink(mot + " Projets Complétés", "ToggleCompletes", "Utils")
                                }
                            </div>
                        }
                    }


                    <br />


                    <table class="table">
                        <tr>
                            <th></th>
                            <th>
                                Titre
                            </th>
                            <th>
                                Statut
                            </th>

                            <th>
                                Visibilité
                            </th>

                            <th>
                                Budget
                            </th>
                            <th>
                                Fonds Collectés
                            </th>
                            <th>
                                Dépenses
                            </th>

                            <th>
                                Prochain Compte-rendu
                            </th>


                        </tr>

                        @foreach (var item in Singleton.Instance.db.Projets.OrderBy(pr => pr.statut))
                        {

                            if (item.idResponsable == (string)Session["Usager"])
                            {
                                if (item.statut != "Termine" || Session["Completes"] != null && (bool)Session["Completes"] == true)
                                {

                                    <tr>
                                        @if (item.statut == "Termine")
                                        {
                                        <td>
                                            <span style="font-style:italic;">Complété</span><br />
                                            @Html.ActionLink("Détails", "Details", new { id = item.idProjet })
                                        </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.ActionLink("Détails", "Details", new { id = item.idProjet })<br />
                                                @Html.ActionLink("Modifier", "Modifier", new { id = item.idProjet })<br />
                                                @Html.ActionLink("Effacer", "Effacer", new { id = item.idProjet })<br />
                                            </td>
                                        }

                                        <td>
                                            @Html.DisplayFor(modelItem => item.titre)
                                        </td>

                                        @if (item.statut == null)
                                        {
                                            <td> ---</td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.statut)
                                            </td>
                                        }

                                        @{
                                            if (item.visibilite == null || item.visibilite == "Public")
                                            {

                                                <td>Public</td>
                                            }
                                            else if (item.visibilite == "Membres")
                                            {
                                                <td>Membres</td>
                                            }
                                            else
                                            {
                                                <td>Privé</td>
                                            }
                                        }

                                        @if (item.budget == null)
                                        {
                                            <td> ---</td>
                                        }
                                        else
                                        {

                                            <td>
                                                @Html.DisplayFor(modelItem => item.budget)$
                                            </td>
                                        }
                                        @if (item.totalFondsCollectes == null)
                                        {
                                            <td> ---</td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.totalFondsCollectes)$
                                            </td>
                                        }
                                        @if (item.totalDepenes == null)
                                        {
                                            <td> ---</td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.totalDepenes)$
                                            </td>
                                        }
                                        @if (item.dateProchainCompteRendu == null)
                                        {
                                            <td> ---</td>
                                        }
                                        else
                                        {

                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dateProchainCompteRendu))
                                            </td>
                                        }


                                    </tr>
                                }
                            }
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</main>
