@model ProjetGoEquipe2.Projet

@{
    ViewBag.Title = "Modifier";
}
<br />
<h2>Page de @Session["Usager"]</h2>
<br /><hr>


<main class="form-horizontal">

    <!-- Partie principale de la page -->
    <main role="main" class="container-fluid">
        <div class="row">
            @{

                Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "PP" });
            }

            <div class="col-sm-9">
                <div class="content-section main-section-top main-add">

                    <div class="content-section" id="sectionPrincipaleMembre">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <h4 class="titre">Modifier @Html.DisplayFor(model => model.titre)</h4>

                        <div style="text-align:center;">
                            @Html.ActionLink("Revenir à mes projets", "MesProjets")
                        </div>
                        <br />

                        <dl class="dl-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.idProjet)

                            <div class="form-group">
                                <div class="control-label col-md-2">Titre*</div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.titre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.titre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Statut</div>
                                <div class="col-md-10">
                                    <select class="form-control" name="statut" value=@Model.statut>
                                        <option value="Propose">Proposé</option>
                                        @{
                                            if (Model.statut == "Soumis")
                                            {
                                                <option value="Soumis" selected>Soumis</option>

                                            }
                                            else
                                            {
                                                <option value="Soumis">Soumis</option>

                                            }
                                        }
                                        @{
                                            if (Model.statut == "Approuve")
                                            {
                                                <option value="Approuve" selected>Approuvé</option>

                                            }
                                            else
                                            {
                                                <option value="Approuve">Approuvé</option>

                                            }
                                        }
                                        @{
                                            if (Model.statut == "Actif")
                                            {
                                                <option value="Actif" selected>Actif</option>

                                            }
                                            else
                                            {
                                                <option value="Actif">Actif</option>

                                            }
                                        }
                                        @{
                                            if (Model.statut == "Termine")
                                            {
                                                <option value="Termine" selected>Terminé</option>

                                            }
                                            else
                                            {
                                                <option value="Termine">Terminé</option>

                                            }
                                        }
                                        @{
                                            if (Model.statut == "Gele")
                                            {
                                                <option value="Gele" selected>Gelé</option>

                                            }
                                            else
                                            {
                                                <option value="Gele">Gelé</option>

                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Visibilité</div>
                                <div class="col-md-10">
                                    <select class="form-control" name="visibilite" value=@Model.statut>

                                        @{if (Model.visibilite == null || Model.visibilite == "Public")
                                            {
                                                <option value="Public" selected>Public</option>
                                                <option value="Membres">Membres</option>
                                                <option value="Prive">Privé</option>

                                            }
                                            else if (Model.visibilite == "Membres")
                                            {
                                                <option value="Public">Public</option>
                                                <option value="Membres" selected>Membres</option>
                                                <option value="Prive">Privé</option>
                                            }
                                            else
                                            {
                                                <option value="Public">Public</option>
                                                <option value="Membres">Membres</option>
                                                <option value="Prive" selected>Privé</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-2">État d'avancement</div>
                                <div class="col-md-10">
                                    <select class="form-control" name="etatAvancement" value=@Model.etatAvancement>

                                        @{if (Model.etatAvancement == null || Model.etatAvancement == "Rouge")
                                            {
                                                <option value="Vert">Vert</option>
                                                <option value="Jaune">Jaune</option>
                                                <option value="Rouge" selected>Rouge</option>

                                            }
                                            else if (Model.etatAvancement == "Jaune")
                                            {
                                                <option value="Vert">Vert</option>
                                                <option value="Jaune" selected>Jaune</option>
                                                <option value="Rouge">Rouge</option>
                                            }
                                            else
                                            {
                                                <option value="Vert" selected>Vert</option>
                                                <option value="Jaune">Jaune</option>
                                                <option value="Rouge">Rouge</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-2">Courte Description*</div>
                                <div class="col-md-10">
                                    <textarea class="form-control col-md-10" rows="5" name="description">@Model.descriptionCourte</textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-2">Sommaire</div>
                                <div class="col-md-10">
                                    <textarea class="form-control col-md-10" rows="5" name="sommaire">@Model.sommaire</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Début estimé*</div>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" name="debutEstime" value="@Convert.ToString(string.Format("{0:yyyy-MM-dd}", Model.debutEstime))" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Fin estimée*</div>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" name="finEstimee" value="@Convert.ToString(string.Format("{0:yyyy-MM-dd}", Model.finEstimee))" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Début réel</div>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" name="debutReel" value="@Convert.ToString(string.Format("{0:yyyy-MM-dd}", Model.debutReel))" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Fin réelle</div>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" name="finReelle" value="@Convert.ToString(string.Format("{0:yyyy-MM-dd}", Model.finReelle))" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Budget ($ seulement)</div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.budget, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.budget, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Fonds collectés ($ seulement)</div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.totalFondsCollectes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.totalFondsCollectes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Total dépenses ($ seulement)</div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.totalDepenes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.totalDepenes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2">Fréquence Compte-Rendus (semaines)</div>
                                <div class="col-md-10">
                                    <select class="form-control" name="frequence">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4" selected>4</option>
                                        <option value="6">6</option>
                                        <option value="8">8</option>
                                        <option value="10">10</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Modifier" class="btn btn-default" style="background-color:rgb(184, 210, 49)" />
                                    <button onclick="@("window.location.href='" + @Url.Action("MesProjets", "Projets") + "'");" type="button" class="btn btn-default">Annuler</button>
                                </div>
                            </div>
                        </dl>
                    }
                        </div>

                </div>
            </div>
        </div>
    </main>
    </main>

