@model IEnumerable<ProjetGoEquipe2.Projet>

@{
    ViewBag.Title = "A Venir";
}
<br />
<hr />


<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">
        @{

            Html.RenderAction("Menus", "Design", new { Categorie = "P", Emphase = "PP" });
        }


        <div class="col-sm-9 main-border">

            <h1 class="titre">
                Projets à Venir
            </h1>

            <img src="~/Content/Images/projetsProposes.png" alt="Projets proposés" class="center-image" width="200" ; />

            <br /><br />

            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <div>
                        <ul class="ul-class">


                            @{
                                Random r = new Random();
                                int rInt = r.Next(1, 200);


                                foreach (var item in Singleton.Instance.db.Projets.Where(projet => projet.statut == "Propose" ).OrderByDescending(projet => projet.debutEstime))
                                {
                                    if (item.visibilite == null || item.visibilite == "Public" || item.visibilite == "Membres" && Session["Connected"] != null && (bool)Session["Connected"] == true)
                                    {
                                        rInt++;

                                        string urlImg = "https://picsum.photos/seed/" + rInt + "/80";
                                        <hr />
                                        <li class="tohover li-class">
                                            <img src="@urlImg">
                                            <h3 class="h3-class">@item.titre</h3>
                                            <h6 style="text-align:center;">Du @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.debutEstime)) au @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.finEstimee)) (estimés)</h6>
                                            <p>@item.descriptionCourte</p>
                                            <br />
                                            <div class="form-actions no-color" style="text-align:right;">
                                                <button onclick="@("window.location.href='" + @Url.Action("Projet", "Projets", new { id = item.idProjet }) + "'");" type="button" class="btn btn-default" style="background-color: rgb(184, 210, 49)">Page du Projet</button>
                                            </div>
                                        </li>
                                    }

                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
