@model ProjetGoEquipe2.CompteRendu

@{
    ViewBag.Title = "DetailsPublic";

    string emphase = Model.Projet.statut == "Actif" ? "PA" : Model.Projet.statut == "Complete" ? "PC" : Model.Projet.statut == "Approuve" ? "PV" : "PP";
}

<br />
<h2>Nos Projets</h2>

<br />
<hr />

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">

        @{

            Html.RenderAction("Menus", "Design", new { Categorie = "P", Emphase = emphase });
        }

        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <br /><br />

                    <div class="content-section" id="sectionPrincipaleMembre">
                        <h4 class="titre">
                            Compte-Rendu du @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.dateCompteRendu))<br /> pour "@Html.DisplayFor(model => model.Projet.titre)"
                        </h4>

                        <br />
                        <div style="text-align:center;">
                            @Html.ActionLink("Revenir aux détails du projet", "DetailsPublic", "Projets", new { id = Model.Projet.idProjet }, null)
                        </div>

                        <br />
                        <div style="text-align:center;">
                            @Html.ActionLink("Voir la liste de tous les compte-rendus de ce projet", "Public", "CompteRendus", new { id = Model.Projet.idProjet }, null)
                        </div>

                        <br />
                        <hr />



                        <dl class="dl-horizontal">

                            <dt>
                                Informations à Jour
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.informationsAJour)
                            </dd>
                            <br />

                            <dt>
                                Réalisations Complétées
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.sommaireRealisationsCompletees)
                            </dd>

                            <br />

                            <dt>
                                Réalisations Reportées
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.realisationsReportees)
                            </dd>

                            @{
                                if (Session["Connected"] != null && (bool)Session["Connected"] == true)
                                {
                                    <br />

                                    <dt>
                                        État des Risques
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.etatRisques)
                                    </dd>
                                }
                            }

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
