@model ProjetGoEquipe2.CompteRendu

@{
    ViewBag.Title = "DetailsPublic";
}

<br />
<h2>Nos Projets</h2>

<br />
<hr />

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">

        <div class="col-sm-3">

            <div class="content-section" id="right-left">

                <div class="btn-group-vertical" role="group">
                    @{
                        if (Model.Projet.statut == "Actif")
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("Index") + "'");" type="button" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Projets Actifs</button>
                        }
                        else
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("Index") + "'");" type="button" class="btn btn-default" style="text-align:left; ">Projets Actifs</button>
                        }
                    }
                    @{
                        if (Model.Projet.statut == "Approuve")
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("AVenir", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Projets À Venir</button>
                        }
                        else
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("AVenir", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; ">Projets À Venir</button>
                        }
                    }

                    @{
                        if (Session["Connected"] != null && (bool)Session["Connected"] == true)
                        {
                            if (Model.Projet.statut == "Propose" || Model.Projet.statut == "Soumis")
                            {
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Proposes", "Projets") + "'");" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Projets Proposés</button>
                            }
                            else
                            {
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Proposes", "Projets") + "'");" class="btn btn-default" style="text-align:left">Projets Proposés</button>
                            }

                        }
                    }

                    @{
                        if (Model.Projet.statut == "Termine")
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("Completes", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; background-color:rgb(184, 210, 49)">Projets Complétés</button>
                        }
                        else
                        {
                            <button onclick="@("window.location.href='" + @Url.Action("Completes", "Projets") + "'");" type="button" class="btn btn-default" style="text-align:left; ">Projets Complétés</button>
                        }
                    }

                </div>
            </div>



        </div>

        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <br /><br />

                          <div class="content-section" id="sectionPrincipaleMembre">
                              <h4 class="titre">
                                  Compte-Rendu du @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.dateCompteRendu))<br /> pour "@Html.DisplayFor(model => model.Projet.titre)"
                              </h4>
                              <div style="text-align:center;">
                                  @Html.ActionLink("Revenir aux projets", "Index", "Projets")
                              </div>
                              
                              <br />
                              <hr />



                              <dl class="dl-horizontal">

                                  <dt>
                                      Informations à Jour
                                  </dt>

                                  <dd>
                                      @Html.DisplayFor(model => model.informationsAJour)
                                  </dd>
                                  <br />

                                  <dt>
                                      Réalisations Complétées
                                  </dt>

                                  <dd>
                                      @Html.DisplayFor(model => model.sommaireRealisationsCompletees)
                                  </dd>

                                  <br />

                                  <dt>
                                      Réalisations Reportées
                                  </dt>

                                  <dd>
                                      @Html.DisplayFor(model => model.realisationsReportees)
                                  </dd>

                                  @{
                                      if (Session["Connected"] != null && (bool)Session["Connected"] == true)
                                      {
                                          <br />

                                          <dt>
                                              État des Risques
                                          </dt>

                                          <dd>
                                              @Html.DisplayFor(model => model.etatRisques)
                                          </dd>
                                      }
                                  }

                              </dl>
                          </div>
                        </div>
                </div>
            </div>
        </div>
    </main>
