@model ProjetGoEquipe2.CompteRendu

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Page de @Session["Usager"]</h2>

<hr /><br />

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">

        @{

            Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "CP" });
        }

        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <h4 class="titre">
                        Détails du Compte-Rendu du  @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.dateCompteRendu))<br /> pour "@Html.DisplayFor(model => model.Projet.titre)"
                    </h4>
                    <div style="text-align:center;">
                        @Html.ActionLink("Revenir à mes compte-rendus", "Index")
                    </div>
                    <br />

                    <hr />

                    <dl class="dl-horizontal">

                        <dt>
                            Informations à Jour
                        </dt>

                        @if (Model.informationsAJour == null)
                        {
                            <dd> ---</dd>
                        }
                        else
                        {
                            <dd>
                                @Html.DisplayFor(model => model.informationsAJour)
                            </dd>
                        }

                        <br />
                        <dt>
                            Réalisations Complétées
                        </dt>

                        @if (Model.sommaireRealisationsCompletees == null)
                        {
                            <dd> ---</dd>
                        }
                        else
                        {
                            <dd>
                                @Html.DisplayFor(model => model.sommaireRealisationsCompletees)
                            </dd>
                        }
                        <br />

                        <dt>
                            Réalisations Reportées
                        </dt>

                        @if (Model.realisationsReportees == null)
                        {
                            <dd> ---</dd>
                        }
                        else
                        {

                            <dd>
                                @Html.DisplayFor(model => model.realisationsReportees)
                            </dd>
                        }
                        <br />

                        <dt>
                            État des Risques
                        </dt>

                        @if (Model.informationsAJour == null)
                        {
                            <dd> ---</dd>
                        }
                        else
                        {
                            <dd>
                                @Html.DisplayFor(model => model.etatRisques)
                            </dd>
                        }

                    </dl>
                </div>
            </div>
        </div>
    </div>
</main>
