@model IEnumerable<ProjetGoEquipe2.CompteRendu>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Page de @Session["Usager"]</h2>
<hr /><br />

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">

        @{

            Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "CP" });
        }

        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <h3 class="center titre">
                        Mes Compte-Rendus
                    </h3>

                    <br />

                    <table class="table">
                        <tr>
                            <th></th>
                            <th>
                                Date du Compte-Rendu
                            </th>
                            <th>
                                Projet
                            </th>
                            <th>
                                Réalisations Principales
                            </th>

                        </tr>

                        @foreach (CompteRendu item in Singleton.Instance.db.CompteRendus.OrderByDescending(cr=>cr.dateCompteRendu))
                        {
                            if (item.Projet.idResponsable != null && item.Projet.idResponsable == (string)Session["Usager"])
                            {

                                <tr>
                                    <td>
                                        @Html.ActionLink("Détails", "Details", new { id = item.idCompteRendu })<br />
                                        @Html.ActionLink("Modifier", "Modifier", new { id = item.idCompteRendu })<br />
                                        @Html.ActionLink("Effacer", "Effacer", new { id = item.idCompteRendu })<br />
                                    </td>
                                    <td>
                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dateCompteRendu))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Projet.titre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sommaireRealisationsCompletees)
                                    </td>
                                </tr>
                            }
                        }

                    </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
