@model ProjetGoEquipe2.CompteRendu

@{
    ViewBag.Title = "Modifier";
}

<br />
<h2>Page de @Session["Usager"]</h2>
<hr /><br />

<main class="form-horizontal">

    <!-- Partie principale de la page -->
    <main role="main" class="container-fluid">
        <div class="row">

            @{

                Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "CP" });
            }

            <div class="col-sm-9">
                <div class="content-section main-section-top main-add">

                    <di class="content-section" id="sectionPrincipaleMembre">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <h4 class="titre">
                                Modifier Compte-Rendu du  @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.dateCompteRendu))<br /> pour "@Html.DisplayFor(model => model.Projet.titre)"
                            </h4>

                            <div style="text-align:center;">
                                @Html.ActionLink("Revenir à mes compte-rendus", "Index")
                            </div>
                            <br />

                            <dl class="dl-horizontal">

                                <hr />

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.idCompteRendu)

                                <div class="form-group">
                                    <div class="control-label col-md-2">Informations à Jour</div>
                                    <div class="col-md-10">
                                        <textarea class="form-control col-md-10" rows="5" name="informationsAJour">@Model.informationsAJour</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">Réalisations Complétées</div>
                                    <div class="col-md-10">
                                        <textarea class="form-control col-md-10" rows="5" name="sommaireRealisationsCompletees">@Model.sommaireRealisationsCompletees</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">Réalisations Reportées</div>
                                    <div class="col-md-10">
                                        <textarea class="form-control col-md-10" rows="5" name="realisationsReportees">@Model.realisationsReportees</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">État des Risques</div>
                                    <div class="col-md-10">
                                        <textarea class="form-control col-md-10" rows="5" name="etatRisques">@Model.etatRisques</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </dl>
                        }

                </div>

            </div>
        </div>
        </div>
    </main>
</main>
