@model IEnumerable<ProjetGoEquipe2.CompteRendu>

@{
    ViewBag.Title = "Public";
    Projet leprojet = new Projet();
    string emphase = "";

    foreach (var item in Model)
    {
        leprojet = item.Projet;
        emphase = item.Projet.statut == "Actif" ? "PA" : item.Projet.statut == "Complete" ? "PC" : item.Projet.statut == "Approuve" ? "PV" : "PP";
        break;
    }
}

<br />
<h2>Nos Projets</h2>

<br />
<hr />

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">
        @{

            Html.RenderAction("Menus", "Design", new { Categorie = "P", Emphase = emphase });
        }
        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <br /><br />

                    <div class="content-section" id="sectionPrincipaleMembre">
                        <h4 class="titre">Compte-rendus de "@leprojet.titre"</h4>

                        <div style="text-align:center;">
                            @Html.ActionLink("Revenir aux détails du projet", "DetailsPublic", "Projets", new { id = leprojet.idProjet }, null)
                        </div>
                        <br />
                        <div style="text-align:center;">
                            @Html.ActionLink("Revenir à la liste des projets", "Actifs", "Projets")
                        </div>

                        <hr />

                        <table class="table">

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink("Compte-rendu du " + @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dateCompteRendu)), "DetailsPublic", "CompteRendus", new { id = item.idCompteRendu }, null)
                                    </td>
                                </tr>
                                <br />
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

