@model IEnumerable<ProjetGoEquipe2.LeveeFond>
@{
    ViewBag.Title = "Index";
}

<br />
<hr />
<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <h1 class="titre">Campagne de Financement</h1>

    <div class="row">
        <br /><br />
        <div class="col-sm-4">
            <div class="content-section main-add" id="right-left" padding-left:15px;">
                <h4 style="text-align:center">Un Mot de notre Président</h4>
                <img class="center-image" src="~/Content/Images/notre-president.jpg" width="200px" alt="Notre President" />
                <br /><p style="font-style:italic; ">Chers amis,<br /><br />En ces temps difficiles, nous avons plus que jamais besoin de votre aide. Malgré les politiques de confinement, ProjetGo continue de venir en aide à des milliers de personnes et d'organismes dans le besoin. Soyez assurés que vos dons généreux seront ENTIÈREMENT consacrés à la réalisation de nos projets - sauf une infime portion allant à mes honoraires personnels. <br /><br />Merci d'être solidaires et de continuer à donner généreusement.<br /><br />Bernard St-Hubert<br />Président à vie de ProjetGo</p>
                <img src="~/Content/Images/sceau-royal.png" />

            </div>
        </div>


        <div class="col-sm-8 main-border">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <h1 style="text-align:center; font-family:'Comic Sans MS'">
                        Faites la différence!
                    </h1>
                    <br />

                    <img src="~/Content/Images/charity-heart.jpg" alt="Donnez avec votre coeur!" class="center-image" width="200" ; />

                    <br /><br />

                    <div>
                        <ul class="ul-class">
                            @{

                                Random r = new Random();
                                int rInt = r.Next(1, 200);


                                foreach (LeveeFond item in Singleton.Instance.db.LeveeFonds.OrderByDescending(lv => lv.dateDebut))
                                {
                                    if (item != null && item.Projet.visibilite == "Public" && item.dateDebut <= DateTime.Today && item.dateFin >= DateTime.Today)
                                    {
                                        rInt++;

                                        string urlImg = "https://picsum.photos/seed/" + rInt + "/80/";
                                        <hr />
                                        <li class="tohover li-class">
                                            <img src="@urlImg">
                                            <h3 class="h3-class">@item.Projet.titre</h3>
                                            <h6 style="text-align:center;">Donnez jusqu'au @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dateFin)) </h6>
                                            <p>@item.message</p>
                                            <br />
                                            <div class="form-actions no-color" style="text-align:right;">
                                                <button onclick="@("window.location.href='" + @Url.Action("Index", "Dons", new { id = item.IdLeveeFonds }) + "'");" type="button" class="btn btn-default" style="background-color:rgb(184, 210, 49)">Faire un Don</button>
                                                <button onclick="@("window.location.href='" + @Url.Action("Projet", "Projets", new { id = item.idProjet }) + "'");" type="button" class="btn btn-default">Voir Projet</button>
                                            </div>
                                        </li>

                                    }
                                }
                            }

                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>
