@model IEnumerable<ProjetGoEquipe2.LeveeFond>

@{
    ViewBag.Title = "MesLevees";
}

<br />
<h2>Page de @Session["Usager"]</h2>
<hr />
<br />

<!-- Partie principale de la page -->
<main role="main" class="container-fluid">
    <div class="row">
        @{

            Html.RenderAction("Menus", "Design", new { Categorie = "M", Emphase = "LP" });
        }
        <div class="col-sm-9">
            <div class="content-section main-section-top main-add">

                <div class="content-section" id="sectionPrincipaleMembre">

                    <h3 class="center titre">
                        Mes Levées de Fonds
                    </h3>

                    <br />


                    @{
                        if (ViewBag.Completes != null && ViewBag.Completes == true)
                        {
                            <div style="text-align:center;">
                                @{
                                    string mot = Session["Completes"] == null || (bool)Session["Completes"] == false ? "Inclure" : "Exclure";
                                    TempData["Action"] = "MesLevees";
                                    TempData["Controller"] = "LeveeFonds";
                                    @Html.ActionLink(mot + " Levées de Fonds Complétées", "ToggleCompletes", "Utils")
                                }
                            </div>
                        }
                    }
                    <br />


                    <table class="table">
                        <tr>
                            <th></th>
                            <th>
                                Projet
                            </th>
                            <th>
                                Début
                            </th>
                            <th>
                                Fin
                            </th>
                            <th>
                                Montant Obtenu
                            </th>

                        </tr>

                        @foreach (var item in Singleton.Instance.db.LeveeFonds.OrderBy(l => l.dateDebut))
                        {

                            if (item.Projet.idResponsable == (string)Session["Usager"] && item.dateFin >= DateTime.Today)
                            {

                                <tr>
                                    @{

                                        if (item.dateDebut >= DateTime.Today)
            {
                                            <td>
                                                <span style="font-style:italic">À Venir</span><br />
                                                @Html.ActionLink("Détails", "Details", new { id = item.IdLeveeFonds })<br />
                                                @Html.ActionLink("Modifier", "Modifier", new { id = item.IdLeveeFonds })<br />
                                                @Html.ActionLink("Effacer", "Effacer", new { id = item.IdLeveeFonds })
                                            </td>
            }
                                        else
                                        {
                                <td>
                                    <span style="font-style:italic">En cours</span><br />
                                    @Html.ActionLink("Détails", "Details", new { id = item.IdLeveeFonds })<br />
                                    @Html.ActionLink("Modifier", "Modifier", new { id = item.IdLeveeFonds })
                                </td>
                                        }
                                    }


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Projet.titre)
                                    </td>


                                    @if (item.dateDebut == null)
                                    {
                                        <td> ---</td>
                                    }
                                    else
                                    {

                                        <td>
                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dateDebut))
                                        </td>
                                    }


                                    @if (item.dateFin == null)
                                    {
                                        <td> ---</td>
                                    }
                                    else
                                    {

                                        <td>
                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dateFin))
                                        </td>
                                    }

                                    @if (item.montantObtenu == null)
                                    {
                                        <td> ---</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.montantObtenu)$
                                        </td>
                                    }


                                </tr>
                            }
                        }

                        <!--Afficher les levees completees (s'il y en a et si l'usager veut les afficher)-->
                        @if (Session["Completes"] != null && (bool)Session["Completes"] == true)
                        {


                            foreach (var item in Singleton.Instance.db.LeveeFonds.OrderByDescending(l => l.dateDebut))
                            {

                                if (item.Projet.idResponsable == (string)Session["Usager"] && item.dateFin < DateTime.Today)
                                {

                                    <tr>
                                        <td style="font-style:italic">
                                            Complété<br />
                                            @Html.ActionLink("Détails", "Details", new { id = item.IdLeveeFonds })
                                            <br />
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Projet.titre)
                                        </td>


                                        @if (item.dateDebut == null)
                                        {
                                            <td> ---</td>
                                        }
                                        else
                                        {

                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dateDebut))
                                            </td>
                                        }


                                        @if (item.dateFin == null)
                                        {
                                            <td> ---</td>
                                        }
                                        else
                                        {

                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dateFin))
                                            </td>
                                        }

                                        @if (item.montantObtenu == null)
                                        {
                                            <td> ---</td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.montantObtenu)$
                                            </td>
                                        }


                                    </tr>
                                }
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
