<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProjetGo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")



</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="site-title">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Images/Logo.jpg" style="width:80px;" ; alt="" />
                    </a>
                </p>
            </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin-top:10px;">
                        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                        <li>@Html.ActionLink("À Propos", "Nous", "Home")</li>
                        <li>@Html.ActionLink("Nos Projets", "Actifs", "Projets")</li>
                        <li>@Html.ActionLink("Faire un Don", "Index", "LeveeFonds")</li>

                        @if (Session["Connected"] == null || (bool)Session["Connected"] == false)
                        {
                            <li>@Html.ActionLink("S'Inscrire", "Inscription", "Membres")</li>
                            <li>@Html.ActionLink("Se Connecter", "Identifier", "Membres")</li>
                        }
                        @if (Session["Connected"] != null && (bool)Session["Connected"] == true)
                        {
                            if ((string)Session["Usager"] == "Admin")
                            {
                                <li>@Html.ActionLink("Gérer les Threads", "Threads", "Utils")</li>
                                <li>@Html.ActionLink("Déconnexion", "Deconnexion", "Membres")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Page de " + (string)Session["Usager"], "Index", "Membres")</li>
                                <li>@Html.ActionLink("Déconnexion", "Deconnexion", "Membres")</li>
                            }
                        }



                    </ul>
                </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:30px;">
        @RenderBody()
        <hr />
    </div>
    <br /><br /><br />
        <footer>
            <div class="footer-black">
                <div class="footer-custom">
                    <div class="footer-lists">
                        <div class="footer-list-wrap">
                            <h6 class="ftr-hdr">Contactez-nous</h6>
                            <ul class="ftr-links-sub">
                                <li>1-800-projetgo</li>
                            </ul>
                        </div>
                        <!--/.footer-list-wrap-->
                        <div class="footer-list-wrap">
                            <h6 class="ftr-hdr">Principal</h6>
                            <ul class="ftr-links-sub">
                                <li><a onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">Accueil</a></li>
                                <li><a onclick="@("window.location.href='" + @Url.Action("Nous", "Home") + "'");">A Propos</a></li>
                                <li><a onclick="@("window.location.href='" + @Url.Action("Inscription", "Membres") + "'");">Devenez Membres</a></li>
                                <li><a onclick="@("window.location.href='" + @Url.Action("Index", "Dons") + "'");">Faites un Don</a></li>
                            </ul>
                        </div>
                        <div class="footer-list-wrap">
                            <h6 class="ftr-hdr">Nos Projets</h6>
                            <ul class="ftr-links-sub">
                                <li><a onclick="@("window.location.href='" + @Url.Action("Actifs", "Projets") + "'");">Actifs</a></li>
                                <li><a onclick="@("window.location.href='" + @Url.Action("AVenir", "Projets") + "'");">À Venir</a></li>
                                <li><a onclick="@("window.location.href='" + @Url.Action("Completes", "Projets") + "'");">Complétés</a></li>
                            </ul>
                        </div>
                        <div class="footer-list-wrap">
                            <h6 class="ftr-hdr">Commanditaires</h6>
                            <ul class="ftr-links-sub">
                                <li><a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a></li>
                                <li><a href="https://www.microsoft.com/en-ca/microsoft-365/microsoft-teams/group-chat-software">Microsoft</a></li>
                                <li><a href="http://www.crosemont.qc.ca">Collège Rosemont</a></li>
                                <li><a href="https://www.ricardocuisine.com/themes">Les Recettes de Ricardo</a></li>
                            </ul>
                        </div>

                        <!--/.footer-social-->
                        <div class="footer-legal">
                            <p>&copy;  @DateTime.Now.Year - ProjetGo Inc. Tous droits réservés | <a style="color:rgb(184, 210, 49);" href="https://www.cafdn.org/for-youth/covid-19-youth-support-fund/">Combattons le Covid-19</a></p>
                            <p>La Meilleure Équipe : AABS </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
