@model  Dictionary<string, string>


<div class="col-sm-3">
    <div class="content-section" id="right-left">
        <h4>Sections</h4>
        <div class="btn-group-vertical" role="group">

            @{
                bool connected = true;
                bool afficheCotisation = false;
                bool bloquer = false;
                Membre membre = Singleton.Instance.db.Membres.Find((string)Session["Usager"]);

                if (Session["Connected"] == null || (bool)Session["Connected"] == false)
                {
                    connected = false;
                }

                if (membre != null)
                {
                    afficheCotisation = membre.dateProchaineCotisation == null || membre.dateProchaineCotisation <= DateTime.Now.AddMonths(1) ? true : false;

                    if (membre.dateProchaineCotisation == null)
                    {
                        bloquer = true;
                    }
                    else
                    {
                        DateTime prochaineCotisation = (DateTime)membre.dateProchaineCotisation;

                        if (membre.dateProchaineCotisation == null || DateTime.Now > prochaineCotisation.AddMonths(1))
                        {
                            bloquer = true;
                        }
                    }
                }



                if (Model["Categorie"] == "M")
                {
                    <button @(bloquer ? "disabled" : null) onclick="@("window.location.href='" + @Url.Action("MesProjets", "Projets") + "'");" type="button" class="@(@Model["Emphase"] == "PP" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Mes Projets</button>
                    <button @(bloquer ? "disabled" : null) onclick="@("window.location.href='" + @Url.Action("Ajouter", "Projets") + "'");" type="button" class="@(@Model["Emphase"] == "PA" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-secondary")">Ajouter un Projet</button>
                    <button @(bloquer ? "disabled" : null) type="button" onclick="@("window.location.href='" + @Url.Action("Index", "CompteRendus") + "'");" class="@(@Model["Emphase"] == "CP" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Mes Compte-Rendus</button>
                    <button @(bloquer ? "disabled" : null) type="button" onclick="@("window.location.href='" + @Url.Action("Ajouter", "CompteRendus") + "'");" class="@(@Model["Emphase"] == "CA" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-secondary")">Ajouter un Compte-Rendu</button>
                    <button @(bloquer ? "disabled" : null) type="button" onclick="@("window.location.href='" + @Url.Action("MesLevees", "LeveeFonds") + "'");" class="@(@Model["Emphase"] == "LP" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Mes Levées de Fonds</button>
                    <button @(bloquer ? "disabled" : null) type="button" onclick="@("window.location.href='" + @Url.Action("Ajouter", "LeveeFonds") + "'");" class="@(@Model["Emphase"] == "LA" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-secondary")">Ajouter une Levée de Fonds</button>
                    if (afficheCotisation)
                    {
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Cotisation", "Membres") + "'");" class="btn btn-danger" style="text-align:left">Payer ma Cotisation</button>
                    }

                    <button type="button" onclick="@("window.location.href='" + @Url.Action("Profil", "Membres") + "'");" class="@(@Model["Emphase"] == "PL" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Mon Profil</button>
                }

                else if (Model["Categorie"] == "P")
                {
                    <button onclick="@("window.location.href='" + @Url.Action("Actifs", "Projets") + "'");" type="button" class="@(@Model["Emphase"] == "PA" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Projets Actifs</button>
                    <button onclick="@("window.location.href='" + @Url.Action("AVenir", "Projets") + "'");" type="button" class="@(@Model["Emphase"] == "PV" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Projets À Venir</button>
                    if (connected)
                    {
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Proposes", "Projets") + "'");" class="@(@Model["Emphase"] == "PP" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Projets Proposés</button>

                    }
                    <button type="button" onclick="@("window.location.href='" + @Url.Action("Completes", "Projets") + "'");" class="@(@Model["Emphase"] == "PC" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Projets Complétés</button>
                }
                else
                {
                    <button onclick="@("window.location.href='#'");" type="button" class="@(@Model["Emphase"] == "1" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">CA</button>
                    <button onclick="@("window.location.href='#membres'");" type="button" class="@(@Model["Emphase"] == "2" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Membres</button>
                    <button type="button" onclick="@("window.location.href='#benevoles'");" class="@(@Model["Emphase"] == "3" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Bénévoles</button>
                    <button type="button" onclick="@("window.location.href='#siege'");" class="@(@Model["Emphase"] == "4" ? "button-emphasis btn btn-default" : "button-noemphasis btn btn-default")">Siège Social</button>

                }

            }
        </div>
    </div>
</div>
